<h5 class="card-title">Nuevo proyecto</h5>

<form [formGroup]="fromNewProyects">
        <div class="row">
                        <mat-form-field class="col-md-12">
                                <input  id="name"
                                        matInput 
                                        placeholder="Nombre"
                                        formControlName="name"
                                        [(ngModel)]="project.name"
                                        >
                        </mat-form-field> 

                        <mat-form-field class="col-md-6">
                                <mat-select name="typeTime" formControlName="typeTime" placeholder="Medicion de proyecto" [(ngModel)]="project.typeTime">
                                  <mat-option *ngFor="let type of typeTimes" [value]="type.value">
                                    {{type.viewValue}}
                                  </mat-option>
                                </mat-select>
                        </mat-form-field>
                        
                        <mat-form-field class="col-md-6">
                                <input  id="projetcTime"
                                        type="number"
                                        matInput 
                                        placeholder="Tiempo"
                                        formControlName="projectTime"
                                        [(ngModel)]="project.time"
                                        >
                        </mat-form-field> 
                      

                        
        </div>
        <div class="row">
                <div class="col-md-12">
                        <button mat-raised-button color="primary" (click)="onSave()">
                                Agregar
                        </button>
                        <button mat-raised-button color="red">
                                Cancelar
                        </button>
                </div>

        </div>  
</form>

                                      
