<app-sidenav>
        <div class="container-fluid">

                <div class="row my-1">
                    <div class="col-md-12">
        
                        <div class="card-body d-flex justify-content-between align-items-center">
                            <h4>Proyectos</h4>
                            <button mat-fab color="primary" (click)="addProyect()">
                                <mat-icon aria-hidden="false" >
                                    add
                                </mat-icon>
                            </button>
                        </div>
                        
                    </div>
                </div>
                <div class="row">
                
        
                    <div class="col-md-3">
                        <mat-card class="card-width">
                            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                            <mat-card-header>
                                    <!-- <div mat-card-avatar class="example-header-image"></div> -->
                                    <mat-card-title>Shiba Inu</mat-card-title>
                                    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                            </mat-card-header>
                            <mat-card-actions>
                                <button mat-raised-button color="primary">
                                    <mat-icon aria-hidden="false">
                                        create
                                    </mat-icon>
                                </button>
                                <button mat-raised-button color="primary">
                                        <mat-icon aria-hidden="false">
                                            visibility
                                        </mat-icon>
                                </button>
                                <!-- <button mat-raised-button color="primary">SHARE</button> -->
                            </mat-card-actions>
                        </mat-card>
                    </div>
        
        
                </div>
            </div>
        
</app-sidenav> 
